@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./assets/websitebg.jpg');
}

@keyframes dogRun {
  0% {
    left: -100px; /* Start off-screen to the left */
  }
  100% {
    left: 100%; /* Move to off-screen on the right */
  }
}

@keyframes softFloat {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

html {
  scroll-behavior: smooth;
}


@keyframes glowFloat {
  0%, 100% {
    transform: translate(0, 0);
    opacity: 0.6;
  }
  50% {
    transform: translate(10px, -20px);
    opacity: 0.9;
  }
}


.animate-dog-run {
  position: absolute;
  top: 0;
  animation: dogRun 60s linear infinite; /* Adjust duration and infinite loop */
}


@keyframes playful-jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes head-tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes tail-wag {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

/* Custom Tailwind Classes */
.animate-playful-jump {
  animation: tail-wag 3s ease-in-out infinite;
}

.animate-head-tilt {
  animation: head-tilt 2s ease-in-out infinite;
}

.animate-tail-wag {
  animation: tail-wag 3s ease-in-out infinite;
}
